{% extends 'base.html' %}

{% block title %}
    Empréstimo de Equipamento
{% endblock %}

{% block content %}
<div class="h-16"></div>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
<div class="container mt-5">
    
    <h2 class="text-white">Empréstimo de Equipamento</h2>

    <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <div class="d-flex justify-content-end">
        <a href="{% url 'index_gantt'%}" class="bg-violet-500 hover:bg-violet-700 w-28 text-white font-bold py-2 px-4 rounded">Cancelar</a>

        <button type="submit" class="bg-violet-500 px-4 py-2 w-28 rounded text-white font-bold hover:bg-violet-700 ml-5"> Empréstimo</button>
    </div>
    </form>

</div>
{% endblock %}