{% extends "base.html" %}
<title>{% block title %}Home{% endblock %}</title>

{% block content %}
<!-- Adicione um espaço em branco no topo para compensar a altura da navbar -->
<div class="h-16"></div>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
<nav class="bg-purple-800 p-4 fixed w-full top-0 z-50">
    <div class="container mx-auto flex justify-between items-center">
        <!-- Logo -->
        <a href="#" class="text-white font-bold text-xl"><i class="fa-solid fa-house"></i> Home</a>
        
        <!-- Navbar Links -->
        <ul class="flex space-x-4 text-white">
            <li class="relative">
                <a href="#" class="hover:bg-purple-700 px-4 py-2 rounded">Usuários</a>
                <!-- Dropdown Content - Users -->
                <div class="hidden absolute bg-purple-800 text-white rounded shadow mt-2 py-2 w-48 z-10">
                    <a href="{% url 'cadastro_usuario'%}" class="block px-4 py-2 hover:bg-purple-700">Cadastro</a>
                    <a href="{% url 'listagem_usuario'%}" class="block px-4 py-2 hover:bg-purple-700">Listagem</a>
                </div>
            </li>
            <li class="relative">
                <a href="#" class="hover:bg-purple-700 px-4 py-2 rounded">Equipamentos</a>
                <!-- Dropdown Content - Equipments -->
                <div class="hidden absolute bg-purple-800 text-white rounded shadow mt-2 py-2 w-48 z-10">
                    <a href="{% url 'cadastro_equipamento'%}" class="block px-4 py-2 hover:bg-purple-700">Cadastro</a>
                    <a href="{% url 'listagem_equipamento'%}" class="block px-4 py-2 hover:bg-purple-700">Listagem</a>
                </div>
            </li>
            <li class="relative">
                <a href="#" class="hover:bg-purple-700 px-4 py-2 rounded">Produtos</a>
                <!-- Dropdown Content - Products -->
                <div class="hidden absolute bg-purple-800 text-white rounded shadow mt-2 py-2 w-48 z-10">
                    <a href="{% url 'cadastro_produto'%}" class="block px-4 py-2 hover:bg-purple-700">Cadastro</a>
                    
                    <a href="{% url 'listagem_produto'%}" class="block px-4 py-2 hover:bg-purple-700">Listagem</a>
                </div>
            </li>
            <li>
            <a href="{% url 'acessar_admin' %}" class="hover:bg-purple-700 px-4 py-2 rounded">Gantt</a>
            </li>
            <li>
                <a href="{% url 'login'%}" class="hover:bg-purple-700 px-4 py-2 rounded"><i class="fa-solid fa-right-from-bracket"></i>Sair</a>
            </li>
        </ul>
    </div>
</nav>

<!-- Conteúdo da página -->
<div class="container mx-auto mt-20"> <!-- mt-20 para compensar a altura da navbar -->
    <!-- Seu conteúdo vai aqui -->
   

    {% autoescape off %}
        {{ plot_div }}
    {% endautoescape %}

</div>

<script>
    // JavaScript to toggle dropdowns
    document.querySelectorAll('.relative').forEach(item => {
        item.addEventListener('click', event => {
            const dropdown = item.querySelector('.absolute');
            // Esconder todos os outros dropdowns
            document.querySelectorAll('.absolute').forEach(otherDropdown => {
                if (otherDropdown !== dropdown) {
                    otherDropdown.classList.add('hidden');
                }
            });
            // Toggle o dropdown atual
            dropdown.classList.toggle('hidden');
        });
    });
</script>
{% endblock %}
