{% extends "base.html" %}

{% block title %}Registro{% endblock %}

{% block content %}
<div class="max-w-md w-full bg-indigo-300 p-8 rounded-lg shadow-md">
    <h2 class="text-2xl font-semibold text-gray-700 mb-8 text-center">Registro</h2>
    <form action="." method="post" autocomplete="off">
        {% csrf_token %}
        <div class="mb-4">
            <label for="id_username" class="block text-gray-700 font-bold mb-2">Nome de usuário:</label>
            <input type="text" name="username" id="id_username" class="w-full bg-white border border-gray-400 py-2 px-4 rounded-md focus:outline-none focus:border-indigo-500" required>
        </div>
        <div class="mb-4">
            <label for="id_email" class="block text-gray-700 font-bold mb-2">Email:</label>
            <input type="email" name="email" id="id_email" class="w-full bg-white border border-gray-400 py-2 px-4 rounded-md focus:outline-none focus:border-indigo-500" required>
        </div>
        <div class="mb-4">
            <label for="password" class="block text-gray-700 font-bold mb-2">Senha:</label>
            <input type="password" name="password" id="password" class="w-full bg-white border border-gray-400 py-2 px-4 rounded-md focus:outline-none focus:border-indigo-500" required>
        </div>
        
        <button type="submit" class="w-full bg-indigo-500 text-white font-bold py-2 px-4 rounded-md hover:bg-indigo-600 focus:outline-none focus:bg-indigo-600">Criar Conta</button>
    </form>
    <p class="text-sm text-gray-700 mt-4 text-center"> <a href="{% url 'login'%}" class="text-indigo-600 hover:text-indigo-800">Fazer login</a></p>
</div>
{% endblock %}
