{% extends 'base.html'%}
<title>{% block title %}Listagem{% endblock %}</title>
{% block content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<div class="h-16"></div>
<nav class="bg-purple-800 p-4 fixed w-full top-0 z-50">
    <div class="container mx-auto flex justify-between items-center">
        <a href="#" class="text-white font-bold text-xl"><i class="fa-solid fa-house"></i> Home</a>
        <ul class="flex space-x-4 text-white">
            <li>
                <a href="{% url 'index_gantt' %}" class="hover:bg-purple-700 px-4 py-2 rounded">Voltar</a>
            </li>
        </ul>
    </div>
</nav>

<div class="w-full py-1 space-y-5">
    <div class="flex flex-col items-center">
        <div class="form-header">
            <div class="title">
                <div class="text-center">
                    <h1 class="text-2xl font-bold py-3 text-white">
                        Listagem de Produtos
                    </h1>
                </div>
            </div>
        </div>

        <div class="mx-auto overflow-x-auto rounded-lg border border border-black late-50 my-auto">
            <table class="min-w-full divide-y-2 divide-black-800 text-sm bg-white">
                <thead>
                    <tr>
                        <th class="whitespace-nowrap px-4 py-2 text-left font-medium text-black text-center">
                            ID
                        </th>

                        <th class="whitespace-nowrap px-4 py-2 text-left font-medium text-black text-center">
                            Nome
                        </th>

                        <th class="whitespace-nowrap px-4 py-2 text-left font-medium text-black text-center">
                            Ações
                        </th>
                    </tr>
                </thead>

                <tbody class="divide-y divide-gray-200">
                    <tr class="hover:bg-gray-200 hover:text-gray-900">
                        {% for produto in produtos%}
                        <td class="whitespace-nowrap px-4 py-2 font-medium text-gray-900 text-center">
                            {{produto.id_produto}}
                        </td>
                        <td class="whitespace-nowrap px-4 py-2 text-gray-700 h-8 text-center">
                            {{produto.nome}}
                        </td>
                        
                        <td class="whitespace-nowrap px-4 py-2 text-gray-700 h-8 text-center">
                            <div class="flex justify-center">

                                <form action="{% url 'editar_produto' produto.id_produto %}">
                                    <button type="submit"
                                        class="text-black focus:ring-4 focus:ring-black font-medium rounded-lg text-sm px-3 py-2.5 mr-2 mb-2 hover:bg-gray-300"><i
                                            class="fa-solid fa-pen-to-square"></i></button>
                                </form>
                                <form class="delete-form" method="POST" action="{% url 'delete_product' produto.id_produto %}">
                                    {% csrf_token %}
                                    <button type="submit" class="delete-user-btn text-black focus:ring-4 focus:ring-black font-medium rounded-lg text-sm px-3 py-2.5 mr-2 mb-2 hover:bg-gray-300">
                                        <i class="fa-solid fa-trash"></i>
                                    </button>
                                </form>              
                            </div>
                        </td>
                    </tr>
                </tbody>
                {% endfor %}
            </table>
        </div>
    </div>
    <div class="flex justify-between items-center top-bar">
        <div class="ml-80">
            <a href="{% url 'cadastro_produto' %}"
                class="bg-purple-500 hover:bg-purple-700 py-2 rounded-md text-white font-bold text-center px-4">
                Novo Produto
            </a>
        </div>
    </div>
</div>
{% endblock %}
